
.fontChanges {
  font-size: 20px;
  color: rgba(255,255,255,0.6);
}

.rainSunDay {
  background-image: url('img/sun-and-rain-together-the-sun-and-the-rain.png');
  background-size: cover;
  background-repeat: no-repeat;
  back
}

.stormDay {
  background-image: url('img/Full-Hd-For-Lightning.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.rainyDay {
  background-image: url('img/maxresdefault.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.snowing {
  background-image: url('img/Snow.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.sunnyDay {
  background-image: url('img/sunny_day_summer-wallpaper-1440x900.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.cloudyDay {
  background-image: url('img/cloudy-wallpaper.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#fullPage {
  background-color: #161616;
}

#banner {
  padding-top: 13%;
  padding-bottom: 13%;
  font-family: 'Bangers', cursive;
}

#header {
  font-size: 50px;
}

#cityCountry {
  font-size: 30px;
  color: rgba(255,255,255,0.6);
}

#temp {
  font-size: 40px;
  color: rgba(15,83,195,.6);
}

#tempButton {
  color: black;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#bottom {
  color: rgba(255,255,255,0.6);
}
